[Unit]
Description=Dumps dlog logs onto disk
DefaultDependencies=no

[Service]
ExecStart=/usr/bin/dlog_logger
Restart=always

[Install]
WantedBy=multi-user.target
